<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>formulaire d'un joueur</h1>
        <form name="form1" method="POST" action="/players/new">
        <table>
            <tr>
            <td>First name</td>
            <td><input type="text" name="player.name" ></td>
            </tr>
            <tr>
            <td>last name</td>
            <td><input type="text" name="player.email" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
        </form> 
    </div> 
</body>
</html>
